@mixin image($folderAndName, $size, $pos, $height, $width) {
    background: url(../styles/images/#{$folderAndName}) no-repeat;
    background-size: $size;
    background-position: $pos;
    height: $height;
    width: $width;
}

@mixin textProps($size, $family, $weight, $color) {
    font-size: $size;
    font-family: $family;
    font-weight: $weight;
    color: $color;
}

.carousel-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
}

.carousel-picture-1 {
    @include image("c-4.jpg", cover, center center, calc(85vh - 125px), 100%);
}

.carousel-picture-2 {
    @include image("c-3.jpg", cover, center center, calc(85vh - 125px), 100%);
}

.carousel-picture-3 {
    @include image("carousel-contact.jpg", cover, center center, calc(85vh - 125px), 100%);
}

.carousel-control-prev {
    width: 50px;
    @media (min-width: 768px) {
        width: 100px;
    }
}

.carousel-control-next {
    width: 50px;
    @media (min-width: 768px) {
        width: 100px;
    }
}

.slide-sub-header {
    @include textProps(30px, $bodyFont, 600, #313131);
    text-transform: capitalize;
    z-index: 10;
}

.slide-header {
    @include textProps(75px, $bodyFont, 600, #313131);
    text-transform: uppercase;
    z-index: 10;
}

.products-btn {
    padding: 10px 20px;
    background-color: rgba(38, 187, 85, 0.77);
    color: white;
    z-index: 10;
    cursor: pointer;
    font-size: 25px;
    margin-bottom: 160px;
}

.featured-items {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    @include textProps(40px, $headerFont, bold, #624734);
    text-transform: capitalize;
}

.testimonial-wrapper {
    @include image("woodwork.jpg", cover, center center, null, 100%);
    min-height: 600px;
    position: relative;
}

.testimonial-wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.testimonial-header {
    @include textProps(40px, $headerFont, bold, $white);
    display: inline-block;
    text-transform: capitalize;
    padding-top: 25px;
    padding-bottom: 25px;
}

.testimonial-container {
    background-color: $white;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 16px 1px #000000;
}

.testimonial-logo {
    max-width: 225px;
}

.testimonial-text {
    @include textProps(16px, $bodyFont, normal, null);
}

.contact-us-header {
    @include textProps(40px, $headerFont, bold, #624734);
    display: inline-block;
    text-transform: capitalize;
    text-align: center;
}

.about-us-header {
    @include textProps(20px, $bodyFont, bold, #353535);
}

.contact-type {
    @include textProps(null, $bodyFont, 500, green);
}

.form-header {
    @include textProps(20px, $bodyFont, 500, null);
    text-transform: capitalize;
}

.input-field {
    border: 1px solid #353535;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 300;
    height: 50px;
    padding: 0 15px;
    width: 100%;
}

.label-text {
    @include textProps(20px, $bodyFont, 500, #353535);
    
}

.textarea-field {
    border: 1px solid #353535;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 300;
    height: 160px;
    padding: 10px 15px;
    width: 100%;
}

.send-msg-btn {
    background-color: rgb(38, 187, 85);
    border-radius: 10px;
    border: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    outline: none;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}