<div class="col-md-6">
  <form action="" ng-submit="sendMail(mail)">
    <div class="form-group row">
      <label for="email" class="col-2 col-form-label">Email</label>
      <input id="email" class="form-control" type="email" ng-model="mail.email">
    </div>
    <div class="form-group row">
      <label for="subject" class="col-2 col-form-label">Subject</label>
      <input id="subject" class="form-control" type="subject" ng-model="mail.subject">
    </div>
    <div class="form-group row">
      <label for="email_body" class="col-2 col-form-label">Body</label>
      <input id="email_body" class="form-control" type="text" ng-model="mail.text">
    </div>
    <button type="submit">Send Mail</button>
  </form>
</div>
