<div id="carouselExampleControls" class="carousel slide" data-interval="false" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="carousel-picture-1">
        <div class="d-flex flex-column justify-content-center align-items-center w-100 h-100 pb-5">
          <span class="slide-sub-header">Experience fine craftmanship</span>
          <span class="slide-header">Find your Inner Crate</span>
          <div ui-sref="products" class="products-btn">Search Our Products</div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-picture-2">
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-picture-3"></div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<section>
  <div class="container pb-5">
    <div class="row">
      <span class="col-12 featured-items">Featured Items</span>
    </div>
    <div class="row">
      <div class="d-flex flex-column align-items-center justify-content-end col-md-4 col-sm-2 mt-3">
        <img src="./styles/images/c-16.jpg" alt="featured crate number 1" class="img-fluid">
        <span class="img-description">Box with some stuff!</span>
      </div>
      <div class="d-flex flex-column align-items-center justify-content-end col-md-4 col-sm-2 mt-3">
        <img src="./styles/images/c-1.jpg" alt="featured crate package 2" class="img-fluid">
        <span class="img-description">Box with some stuff!</span>
      </div>
      <div class="d-flex flex-column align-items-center justify-content-end col-md-4 col-sm-2 mt-3">
        <img src="./styles/images/c-14.jpg" alt="featured crate package 3" class="img-fluid">
        <span class="img-description">Box with some stuff!</span>
      </div>
      <div class="d-flex flex-column align-items-center justify-content-end col-md-4 col-sm-2 mt-3">
        <img src="./styles/images/c-12.jpg" alt="featured crate package 4" class="img-fluid">
        <span class="img-description">Box with some stuff!</span>
      </div>
      <div class="d-flex flex-column align-items-center justify-content-end col-md-4 col-sm-2 mt-3">
        <img src="./styles/images/c-2.jpg" alt="featured crate package 4" class="img-fluid">
        <span class="img-description">Box with some stuff!</span>
      </div>
      <div class="d-flex flex-column align-items-center justify-content-end col-md-4 col-sm-2 mt-3">
        <img src="./styles/images/c-3.jpg" alt="featured crate package 4" class="img-fluid">
        <span class="img-description">Box with some stuff!</span>
      </div>
    </div>
  </div>
</section>
<section class="testimonial-wrapper">
  <div class="container text-center">
    <span class="testimonial-header">Words From Our Customers</span>
    <div class="row">
      <div class="col-md-4 d-flex align-items-center mb-4 mb-md-0">
        <div class="testimonial-container d-flex flex-column justify-content-start align-items-center">
          <img src="./styles/images/company-logo-1.png" alt="timbercrate microsoft testimonial" class="img-fluid testimonial-logo pt-3 px-3">
          <p class="testimonial-text p-3">"At first I didn't want to believe that Timbercrate was as dope as they had let on to be. But after getting my first crate, I was not disappointed. I put my clothes in the crate, my bouncy balls, my cat, and they all fit like a dream! The amount of things I can use my crate for seems endless. And if I want, I can always use it as a regift to my subordinants. It really is the complete package! Thanks Timbercrate for making my life pure bliss!"</p>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-center mb-4 mb-md-0">
        <div class="testimonial-container d-flex flex-column justify-content-start align-items-center">
          <img src="./styles/images/company-logo-2.png" alt="timbercrate paypal testimonial" class="img-fluid testimonial-logo pt-3 px-3">
          <p class="testimonial-text p-3">"At first I didn't want to believe that Timbercrate was as dope as they had let on to be. But after getting my first crate, I was not disappointed. I put my clothes in the crate, my bouncy balls, my cat, and they all fit like a dream! The amount of things I can use my crate for seems endless. And if I want, I can always use it as a regift to my subordinants. It really is the complete package! Thanks Timbercrate for making my life pure bliss!"</p>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-center">
        <div class="testimonial-container d-flex flex-column justify-content-start align-items-center">
          <img src="./styles/images/company-logo-3.png" alt="timbercrate amazon testimonial" class="img-fluid testimonial-logo pt-3 px-3">
          <p class="testimonial-text p-3">"At first I didn't want to believe that Timbercrate was as dope as they had let on to be. But after getting my first crate, I was not disappointed. I put my clothes in the crate, my bouncy balls, my cat, and they all fit like a dream! The amount of things I can use my crate for seems endless. And if I want, I can always use it as a regift to my subordinants. It really is the complete package! Thanks Timbercrate for making my life pure bliss!"</p>
        </div>
      </div>
    </div>
  </div>
</section>