<div id="carouselExampleControls" class="carousel slide" data-interval="false" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="carousel-picture-1">
        <div class="d-flex flex-column justify-content-center align-items-center w-100 h-100 pb-md-5 text-center">
          <span class="slide-sub-header px-3">timber crate company</span>
          <span class="slide-header px-3">Proudly made in America</span>
          <div ui-sref="products" class="products-btn">Search Our Products</div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-picture-2">
        <div class="d-flex flex-column justify-content-center align-items-start pb-md-5 left-aligned-carousel">
          <span class="slide-header-left">Custom is our specialty</span>
          <span class="slide-sub-header-left">get your custom crate started</span>
          <div ui-sref="products" class="contact-btn mt-2 mt-md-4">Contact Us</div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<section>
  <div class="container pb-5">
    <div class="row">
      <span class="col-12 featured-items">Featured Items</span>
    </div>
    <div class="row">
      <div ng-repeat="prod in featured" class="d-flex flex-column align-items-center justify-content-end col-md-4 mt-3">

        <img ng-src="{{ prod.image_url }}" ng-click="enlargeImg(prod.image_url)" alt="featured crate number 1" class="img-fluid">
        <span class="img-description">{{ prod.description }}</span>
        <span class="img-details">{{ prod.details }}</span>
      </div>
    </div> <!-- This div closes the .row-->
  </div>
</section>
<section class="testimonial-wrapper pb-5">
  <div class="container text-center">
    <span class="testimonial-header">Words From Our Customers</span>
    <div class="row">
      <div class="col-md-4 d-flex align-items-center mb-4 mb-md-0">
        <div class="testimonial-container d-flex flex-column justify-content-between align-items-left pt-3">
          <!-- In case of a business logo -->
          <!-- <img src="./styles/images/company-logo-1.png" alt="timbercrate microsoft testimonial" class="img-fluid testimonial-logo pt-3 px-3"> -->
          <p class="testimonial-text p-3">"I was so impressed with Timber Crate Company and their willingness to take the time to talk to me and hear what I was looking for. We loved our options for imprinting our logo. The order arrived three days early and they made it a super simple process."</p>
          <span class="testimonial-signature">-Leslie G.</span>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-center mb-4 mb-md-0">
        <div class="testimonial-container d-flex flex-column justify-content-between align-items-left pt-3">
          <!-- <img src="./styles/images/company-logo-2.png" alt="timbercrate paypal testimonial" class="img-fluid testimonial-logo pt-3 px-3"> -->
          <p class="testimonial-text p-3">"Jake made a personal phone call to me to follow up and make sure we were satisfied with the crates. Great customer service. I would recommend them to anyone looking for something creative to give to a client."</p>
          <span class="testimonial-signature">-Nate C.</span>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-center">
        <div class="testimonial-container d-flex flex-column justify-content-between align-items-left pt-3">
          <!-- <img src="./styles/images/company-logo-3.png" alt="timbercrate amazon testimonial" class="img-fluid testimonial-logo pt-3 px-3"> -->
          <p class="testimonial-text p-3">"Jake was great to work with, and helped us create exactly what we were looking for. Our expectations were not only met, but they were exceeded. We will definitely be reordering in the future."</p>
          <span class="testimonial-signature">-Scott J.</span>          
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contact-container py-4">
  <div class="container pb-4">
    <span class="col-12 contact-us-header">Reach Out To Us!</span>
    <div class="row justify-content-center pt-4">
      <div class="col-12 d-flex align-items-center justify-content-center pb-3">
        <img src="./styles/images/timbercrate-logo.png" style="width: 100%; max-width: 270px;" alt="" class="img-fluid">

      </div>
      <!-- <div class="col-md-5 col-lg-4 d-flex flex-column justify-content-center mb-4 mb-md-0">
        <span class="about-us-header pb-3">About</span>
        <p class="mb-0">Timber crate was founded back when the pioneers first settled Utah. It has since been a big part in gifting among
          corporations. We are proud to be the largest crate company in the world.</p>
        <span class="about-us-header py-3">Contact</span>
        <div class="row">
          <div class="col-auto d-flex flex-column justify-content-between">
            <div class="d-flex flex-column">
              <span class="contact-type">Phone</span>
              <span class="contact-type">Address</span>
            </div>
            <span class="contact-type">Email</span>
          </div>
          <div class="col col-lg-8">
            <div class="d-flex flex-column">
              <span class="contact-info">(xxx) xxx-xxxx</span>
              <span class="contact-info">123 North 456 West</span>
              <span class="contact-info">Somewhere, UT 84000</span>
              <span class="contact-info">email@email.com</span>
            </div>
          </div>
        </div>
      </div> -->
      <!-- <div class="px-3 d-flex justify-content-center"> -->
        
      <div class="col-md-9 col-lg-8 py-3 contact-form" ng-controller="contactCtrl">
        <form class="row" ng-submit="sendMail(mailObj)">
          <span class="col-12 form-header pb-2">Need an estimate or Have questions?</span>
          <p class="col-12 mb-3">If you would like to receive a quote, or have any questions about our products, we are here for you. Get started on your custom project today.</p>
          <div class="col-lg-6 d-flex flex-column">
            <label for="fName" class="label-text">Name</label>
            <input id="fName" required type="text" class="input-field" ng-model="mailObj.name">
          </div>
          <div class="col-lg-6 d-flex flex-column">
            <label for="userEmail" class="label-text">Email</label>
            <input id="userEmail" required type="email" class="input-field" ng-model="mailObj.email">
          </div>
          <div class="urlemail"><p>Don't fill this out!</p><label>URL</label><input type="url" ng-model="mailObj.url"/></div>
          <div class="col-12 d-flex flex-column  pt-3">
            <label for="userMessage" class="label-text">Message</label>
            <textarea id="userMessage" required type="text" class="textarea-field" ng-model="mailObj.msg"></textarea>
          </div>
          <div class="col-12 pt-3">
            <button type="submit" class="send-msg-btn">Send Message</button>
          </div>
        </form>
        <!--Uncomment div below for super crappy modal-->
        <!--<div ng-if="messageSent" class="col-md-7 col-lg-8 py-3 message_success">-->
          <!--<p>Message Success</p>-->
        <!--</div>-->
      </div>
    <!-- </div> -->
    
    </div>
  </div>
</section>

<!--<img ng-src="{{ featured[0].image_url }}" alt="">-->
