<nav class="nav-bar">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-auto px-sm-0">
                <!-- Href Tag -->
                <img ui-sref="home" src="./styles/images/timbercrate-logo.png" alt="timber crate company" class="img-fluid company-logo">
            </div>
            <div class="col d-flex justify-content-end">
                <a ui-sref="products"><span class="navbar-link mr-4">Products</span></a>
                <a ui-sref="about"><span class="navbar-link mr-4">About Us</span></a>
                <a ui-sref="contact"><span class="navbar-link">Contact</span></a>
            </div>
        </div>
    </div>
</nav>